:root{
    --verde: #b3d76b;
    --laranja: #f4ca62;
    --amarelo: #f1e45e;
    --gases-nobre: #6ab1dd;
}

.elemento{
    border: 1px solid black;
    width: 75px;
    padding-bottom: 5px;
}
.elemento[bg='verde']{
    background-color: var(--verde);
}
.elemento[bg='laranja']{
    background-color: var(--laranja);
}
.elemento[bg='amarelo']{
    background-color: var(--amarelo);
}
.elemento[bg='gas-nobre']{
    background-color: var(--gases-nobre);
}
.elemento h5{
    padding: 5px;
}
.elemento h1,
.elemento h6{
    text-align: center;
}